@import url(https://fonts.googleapis.com/css?family=Pacifico);
@-webkit-keyframes blink {
  0% {
    color: white;
  }
  100% {
    color: #333;
  }
}
.blink {
  -webkit-animation: blink 0.8s linear infinite;
}
body {
  background: url('../img/13342970_979749532122974_8549422880313011406_n.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
nav {
  background-color: #ce5faa !important;
}
div#home h1 {
  padding-left: 0px;
  color: lightblue;
  margin-top: 70px;
  /* TODO poner al nav*/
}
div#home > div#info {
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: auto;
  margin-right: auto;
  border: solid blue 2px;
  padding: 10px;
  /*        
        >p{
            width:50%;
            height: 150px;
            overflow-y: auto;
            
        }*/
}
div#home > div#info span {
  font-style: italic;
  display: block;
}
div#home > div#info img {
  border: 1px solid #00428e;
  height: 100px;
  width: 100px;
  display: inline;
  border-radius: 100px;
  overflow: hidden;
}
div#home > div#info ol li {
  color: #660000;
}
div#home > div#info ol li:nth-child(1) > span {
  font-weight: 600;
  font-family: Pacifico;
}
